scripts/**
configs/items/items
configs/items/weapons/**
configs/text/eng/**
configs/text/rus/**
configs/misc
axr_options.ltx
cache_dbg.ltx
localization.ltx
!rynerno_mag.script
!rynerno_helper.script
!item_weapon.script
!ui_item.script
!utils_ui.script
!item_base.ltx
!rynerno_mag.ltx
!w_mp5.ltx
!st_items_magazines.xml